body {

    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(208, 218, 222);
    padding: 20px;
}



nav ul {
    border-radius: 10px;
    list-style-type: none;
    background-color: rgb(82, 82, 82);
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;

}

nav ul a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
}

nav ul a:hover {
    background-color: black;
    color: yellow;
}