body {

    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    background-color: rgb(208, 218, 222);
}

/*navigation bar*/
nav ul {
    list-style: none;
    text-align: center;
    background: rgb(44, 62, 80);
    padding: 15px;
    border-radius: 5px;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
}

nav a:hover {
    background: darkcyan;
    border-radius: 3px;
}


/* Form Container */
.form-container {
    background: whitesmoke;
    padding: 30px;
    max-width: 485px;
    margin: 0px 0px 0 485px;
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
}

/* Form Row */
.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-row label {
    width: 150px;
    font-size: 15px;
}

.form-row input {
    width: 100%;
    padding: 8px;
    border: 1px solid rgba(170, 170, 170, 0.61);
    border-radius: 4px;
    font-size: 14px;
    transition: border 0.2s;
}

.form-row1,
.form-row2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    text-align: left;

}

.form-row1 label,
.form-row2 label {
    margin-bottom: 8px;

}

.radio-group,
.checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: left;

}

.radio-group label,
.checkbox-group label {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    font-size: 14px;
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.15);
}

/* Buttons */
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

input[type="submit"],
input[type="reset"] {
    width: 48%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

input[type="submit"] {
    background: rgb(2, 93, 31);
    color: rgb(255, 255, 255);
}

input[type="submit"]:hover {
    background: rgb(35, 92, 167);
}

input[type="reset"] {
    background: rgb(104, 105, 104);
    color: rgb(255, 255, 255);
}

input[type="reset"]:hover {
    background: rgb(87, 86, 86);
}