body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    background-color: rgb(208, 218, 222);
}


nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background: rgb(44, 62, 80);
    padding: 15px;
    border-radius: 5px;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
}

nav a:hover {
    background: darkcyan;
    border-radius: 3px;
}

.projects {
    background: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    justify-content: center;

}


.skills-table {
    background: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.table-heading {
    background-color: #799FE5;
    color: white;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid white;
    font-weight: bold;
}

th {
    font-weight: bold;
}

tr:hover {
    background-color: rgb(86, 140, 160);
}